﻿@import url('Light.css');
body {
    background-color: white;
}

body p {
     color: black;
    }


.mycodebox table {
    padding-left: 1em;
    font-family: Consolas,Courier New, Courier, monospace;
    margin-bottom: 1em;
}

.mycodebox td {
    margin: 0;
    border-style: none;
    padding-left: 1em;
}

.mycodebox td:first-child, tr:first-child {
    background-color: black;
    color: white;
    padding-right: 1em;
}