﻿footer {
    padding-top: 3em;
}

#links-aside {
    background-color: lightgray;
}

.code-block img {
    max-width: 100%;
    max-height: 300px;
}

em {
    font-family: Consolas,Courier New, Courier, monospace;
}