﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CodeBox.ascx.cs" Inherits="Assignment2a_N01311709.CodeBox" %>

    <asp:DataGrid id="myCode" SkinID="CodeBox" runat="server" >
    </asp:DataGrid>