﻿body {
    background-color: darkslategrey;
}

body p {
    font-family: 'Comic Sans MS'; /*nothing darker than comic sans*/
    color: yellow;
}


.mycodebox table {
    padding-left: 1em;
    font-family: Consolas,Courier New, Courier, monospace;
    margin-bottom: 1em;
}

.mycodebox td {
    margin: 0;
    border-style: none;
    padding-left: 1em;
    color: white;
}

.mycodebox td:first-child, tr:first-child {
    background-color: white;
    color: white;
    padding-right: 1em;
}